$dark-gray : #263238;
$med-gray : #546e7a;
$light-gray : #dbe2e5;
$light-blue : #26c6da;




body {
  color: $med-gray;
  font-family: 'Karla', sans-serif;
  font-size: 1.1em;
  strong {
    color: $dark-gray;
  }
}

.container {
  max-width: 1080px;
  margin: 0px auto;
}
