.main {
  max-width: 730px;
  margin: auto;
  padding: 5%;
  .left-indent-medium {
    padding-left: 30px;
  }
  .left-indent-small {
    padding-left: 10px;
    margin: 0;
    line-height: 1.5em;
  }
  @include linx($light-blue, $light-blue, $light-blue, auto);
  a {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

p:first-child strong {
    line-height: 1.5em;
}
